datasets
node_modules
repos
reposv7.0.0failure
reposv7.0.0success
reposv8.0.0failure
reposv8.0.0success
Sampleuuid
.DS_Store
test
reposgv7failure
scripts
src/asttry
package-lock.json
Dockerfile
dockercompose.yml
.dockerignore
Sample
.babelrc
src/__tests__/InputFile
src/__tests__/ast.test.ts
src/__tests__/integrate.test.ts
src/__tests__/patternMatch.test.ts
output
